POSTGRES_IMAGE=postgres:16
POSTGRES_HEALTHCHECK_INTERVAL=10s
POSTGRES_HEALTHCHECK_TIMEOUT=5s
POSTGRES_HEALTHCHECK_RETRIES=5

WAREHOUSE_DB_CONTAINER_NAME=ecommerce_warehouse_postgres
WAREHOUSE_DB_CONTAINER_HOST=warehouse-postgres
WAREHOUSE_DB_CONTAINER_PORT=5432
WAREHOUSE_DB_HOST=localhost
WAREHOUSE_DB_PORT=5434
WAREHOUSE_DB_USER=ecommerce
WAREHOUSE_DB_PASSWORD=change_me
WAREHOUSE_DB_NAME=ecommerce
WAREHOUSE_DBT_SCHEMA=analytics

AIRFLOW_VERSION=3.2.2
AIRFLOW_IMAGE=apache/airflow:3.2.2-python3.12
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_LOAD_EXAMPLES=false
AIRFLOW_AUTH_MANAGER=airflow.api_fastapi.auth.managers.simple.simple_auth_manager.SimpleAuthManager
AIRFLOW_SIMPLE_AUTH_MANAGER_USERS=admin:admin
AIRFLOW_SIMPLE_AUTH_MANAGER_PASSWORDS_FILE=/opt/airflow/project/.airflow/simple_auth_manager_passwords.json
AIRFLOW_API_SERVER_PORT=8080
AIRFLOW_EXECUTION_API_SERVER_URL=http://airflow-api-server:8080/execution/
AIRFLOW_API_SECRET_KEY=change_me_to_a_shared_secret_with_at_least_64_random_characters_1234567890
AIRFLOW_JWT_SECRET=change_me_to_another_shared_secret_with_at_least_64_random_characters_1234567890
AIRFLOW_DB_CONTAINER_NAME=ecommerce_airflow_postgres
AIRFLOW_DB_CONTAINER_HOST=airflow-postgres
AIRFLOW_DB_CONTAINER_PORT=5432
AIRFLOW_DB_PORT=5433
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me
AIRFLOW_DB_NAME=airflow

AIRFLOW_INIT_CONTAINER_NAME=ecommerce_airflow_init
AIRFLOW_API_SERVER_CONTAINER_NAME=ecommerce_airflow_api_server
AIRFLOW_SCHEDULER_CONTAINER_NAME=ecommerce_airflow_scheduler
AIRFLOW_DAG_PROCESSOR_CONTAINER_NAME=ecommerce_airflow_dag_processor
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_ROLE=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

PROJECT_ROOT_IN_CONTAINER=/opt/airflow/project
AIRFLOW_DAGS_IN_CONTAINER=/opt/airflow/dags
DBT_PROFILES_DIR=./dbt/ecommerce_dbt
DBT_PROFILES_DIR_IN_CONTAINER=/opt/airflow/project/dbt/ecommerce_dbt
DBT_THREADS=4
